extends layout

block title
  title Data-Centric ML Competition

block description
  meta(name='description', content='placeholder')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(async defer src="https://buttons.github.io/buttons.js")

block extrascripts

mixin model_display(group, is_test)
  table.table.performanceTable
    tr
      if is_test
        th Rank
      th Model
      th Accuracy
    - var largest_acc = Math.max.apply(null, group.map(function (model) { return model.acc; }))
    each model in group
      tr
        if is_test
          td 
            p #{model.rank}
            span.date.label.label-default #{moment.unix(model.date).format('MMM DD, YYYY')}
        td(style="word-break:break-word;")
          | #{model.model_name}
          p.institution #{model.institution}
          if model.link
            a.link(href=model.link) #{model.link}
        td
          if model.acc == largest_acc
            b #{model.acc.toPrecision(5)}
          else
            | #{model.acc.toPrecision(5)}

block content
  .cover#contentCover
    .container
      .row
        .col-md-5
          .infoCard
            .infoBody
              .infoHeadline
                h2 What is Data-Centric ML?
              p 
                span
                | The Data-centric AI Competition aims to elevate data-centric approaches to improving machine learning model performance. In most machine learning competitions, a user is given a fixed set of data and asked to improve on the model to produce quality predictions. However in industry, the time machine learning practitioners spend improving data vastly outweighs the time spent improving models. The Data-centric AI Competition inverts this format and instead asks the user to improve on the data given a fixed model. We will provide you with a dataset to which you can apply data-centric techniques such as fixing incorrect labels, adding data for side case tuning, apply data augmentation techniques, etc. You will then submit your altered dataset for evaluation. The prize? Fame, glory, and publicization of results. Good luck!
              p
              .infoHeadline
                h2 Getting Started
              p
                | Here's a few resources to help you get started with the data-centric competition
              p 
                | Watch this introduction video to get an overview of the competition and submission instructions
                ul.list-unstyled
                  li
                    a.btn.actionBtn.inverseBtn(href="https://drive.google.com/file/d/1qSTnHbPvqb7nyIumCMi_Ty9DPsgRXIv4/view?usp=sharing")
                      | Introduction Video   
              p 
                | Download a copy of the dataset
                ul.list-unstyled
                  li
                    a.btn.actionBtn.inverseBtn(href="https://worksheets.codalab.org/bundles/0x6804532b06be4009a03a9bdf3388f714", download)
                      | Dataset                   
              p To evaluate your dataset we have also made available the training script we will use for official evaluation
                ul.list-unstyled
                  li
                    a.btn.actionBtn.inverseBtn(href="https://worksheets.codalab.org/bundles/0x48b636fd38fc4f1095b89558a3fb57e1/", download)
                      | Prediction Script 
              p Once you built a dataset that you like, you can submit it to get official scores on dev and hidden test set.
              a.btn.actionBtn.inverseBtn(href="https://worksheets.codalab.org/worksheets/0x7a8721f11e61436e93ac8f76da83f0e6/")
                | Submission Tutorial
              .infoHeadline
                h2 Have Questions?
              p Join us on Discourse to ask us questions and connect with other competitors!
              a.btn.actionBtn.inverseBtn(href="http://bit.ly/dlai-competition")
                | Discourse
            .infoSubheadline
              include includes/github
        .col-md-7
          .infoCard
            .infoBody
              .infoHeadline
                h2 Leaderboard
              +model_display(test, true)
