extends layout

block title
  title Data-Centric ML Competition

block description
  meta(name='description', content='placeholder')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(async defer src="https://buttons.github.io/buttons.js")

block extrascripts

mixin model_display(group, is_test)
  table.table.performanceTable
    tr
      if is_test
        th Rank
      th Model
      th Accuracy
    - var largest_acc = Math.max.apply(null, group.map(function (model) { return model.acc; }))
    each model in group
      tr
        if is_test
          td 
            p #{model.rank}
            span.date.label.label-default #{moment.unix(model.date).format('MMM DD, YYYY')}
        td(style="word-break:break-word;")
          | #{model.model_name}
          p.institution #{model.institution}
          if model.link
            a.link(href=model.link) #{model.link}
        td
          if model.acc == largest_acc
            b #{model.acc.toPrecision(5)}
          else
            | #{model.acc.toPrecision(5)}

block content
  .cover#contentCover
    .container
      .row
        .col-md-5
          .infoCard
            .infoBody
              .infoHeadline
                h2 About
              p 
                span
                | The Data-centric AI Competition aims to elevate data-centric approaches to improving machine learning model performance. In most machine learning competitions, a user is given a fixed set of data and asked to improve on the model to produce quality predictions. However in industry, the time machine learning practitioners spend improving data vastly outweighs the time spent improving models. The Data-centric AI Competition inverts the traditional format and instead asks the user to improve on the data given a fixed model. We will provide you with a dataset to which you can apply data-centric techniques such as fixing incorrect labels, adding data for side case tuning, apply data augmentation techniques, etc. You will then submit your altered dataset for evaluation. Participants have until September 4th, 2021 to submit. (We picked this date because it is the birthday of John McCarthy, who had coined the term Artificial Intelligence!) The top 3 winners from each category will be invited to a private roundtable event with Andrew Ng to share ideas and explore how to grow the data-centric movement, and will have their work highlighted on The Batch and other DeepLearning.AI and Landing AI channels. Good luck!
              p
              .infoHeadline
                h2 Resources
              p Use this guide to submit on CodaLab Worksheets:
              a.btn.actionBtn.inverseBtn(href="https://worksheets.codalab.org/worksheets/0x7a8721f11e61436e93ac8f76da83f0e6/")
                | Submission Tutorial
              p Check out Andrew Ng's talk on shifting from a Model-centric approach to a Data-centric approach to AI: 
              a.btn.actionBtn.inverseBtn(href="https://www.youtube.com/watch?v=06-AZXmwHjo&ab_channel=DeepLearningAI")
                | MLOps: From Model-centric to Data-centric AI
              .infoHeadline
                h2 Have Questions?
              p Join us on Discourse to ask us questions and connect with other competitors!
              a.btn.actionBtn.inverseBtn(href="http://bit.ly/dlai-competition")
                | Discourse
            .infoSubheadline
              include includes/github
        .col-md-7
          .infoCard
            .infoBody
              .infoHeadline
                h2 Leaderboard
              +model_display(test, true)
